{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="appHeader " style="background-color: transparent;box-shadow: none;">
    <div class="left">
         
    </div>
    <div class="pageTitle">
       Which emotions resonate with you right now?
    </div>
    <div class="right">
        
    </div>
</div>
<div class="section full" style="margin-top: 55px !important">
    <div class="wide-block pt-2 pb-2" style="background-color: transparent;">
        <div class="login-form">
            <div class="section mt-2">
                <h1>Which emotions resonate with you right now?</h1>
            </div>
            <div class="section mt-4 mb-5">
                <form action="{% url 'main:daily_emotion_save' %}" method="POST">
                   {% csrf_token %}
                   <textarea name="reason" cols="30" rows="10" class="form-control"></textarea> <br>
                   <input type="hidden" name="emotions_resonate" value="{{ selected_emotions|json_encode }}">
                   <input type="hidden" name="mood" value="{{mood}}">
                   <input type="submit" class="btn btn-primary btn-block btn-lg" value="NEXT">
               </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

