{% extends 'base.html' %}

{% block content %}
<style type="text/css">
	input{
		width: 100%;
		height: 36px;
		border-radius: 5px;
		border:1px solid #ddd;
		margin-bottom: 15px
	}
</style>
<div class="appHeader " style="background-color: transparent;box-shadow: none;">
    <div class="left">
        <a href="{% url 'main:profile' %}" class="headerButton goBack">
            <ion-icon name="chevron-back-outline" role="img" class="md hydrated" aria-label="chevron back outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle">
        Change Password
    </div>
    <div class="right">
        
    </div>
</div>
<div id="appCapsule">
	<div class="section mt-2 mb-5">
		<div class="card p-4">
			<form method="post">
			  {% csrf_token %}
			  {{ form.as_p }}
			  <button type="submit" class="btn btn-primary btn-block btn-lg">Save</button>
			</form>
		</div>
    </div>	   
</div>

{% endblock %}